<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailOrderServlet</servlet-name>
        <servlet-class>servlet.ViewDetailOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListStaffServlet</servlet-name>
        <servlet-class>servlet.ViewListStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>servlet.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>servlet.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdminServlet</servlet-name>
        <servlet-class>servlet.AccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>servlet.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordAdminServlet</servlet-name>
        <servlet-class>servlet.UpdatePasswordAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAboutUsServlet</servlet-name>
        <servlet-class>servlet.ViewAboutUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewContactServlet</servlet-name>
        <servlet-class>servlet.ViewContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListOrderServlet</servlet-name>
        <servlet-class>servlet.ViewListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMenuServlet</servlet-name>
        <servlet-class>servlet.ViewMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailFoodServlet</servlet-name>
        <servlet-class>servlet.ViewDetailFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFoodListServlet</servlet-name>
        <servlet-class>servlet.ViewFoodListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>servlet.AddFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <servlet-class>servlet.DeleteFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <servlet-class>servlet.DeleteMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListMemberServlet</servlet-name>
        <servlet-class>servlet.ViewListMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFoodOrder</servlet-name>
        <servlet-class>servlet.AddFoodOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewfoodlistmember</servlet-name>
        <servlet-class>servlet.ViewFoodListMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeadmin</servlet-name>
        <servlet-class>servlet.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>servlet.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFood</servlet-name>
        <servlet-class>servlet.UpdateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListOrderAdminServlet</servlet-name>
        <servlet-class>servlet.ViewListOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>servlet.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderServlet</servlet-name>
        <servlet-class>servlet.UpdateStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMemberAdmin</servlet-name>
        <servlet-class>servlet.UpdateMemberAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailOrderAdminServlet</servlet-name>
        <servlet-class>servlet.ViewDetailOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInfoServlet</servlet-name>
        <servlet-class>servlet.ViewInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListOrderMemberServlet</servlet-name>
        <servlet-class>servlet.ViewListOrderMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>servlet.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListOrderStaffServlet</servlet-name>
        <servlet-class>servlet.ViewListOrderStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderAdminServlet</servlet-name>
        <servlet-class>servlet.UpdateOrderAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailOrderServlet</servlet-name>
        <url-pattern>/detailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListStaffServlet</servlet-name>
        <url-pattern>/listStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/updateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdminServlet</servlet-name>
        <url-pattern>/accountSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordAdminServlet</servlet-name>
        <url-pattern>/updatePasswordAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAboutUsServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListOrderServlet</servlet-name>
        <url-pattern>/listOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailFoodServlet</servlet-name>
        <url-pattern>/viewdetailfood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFoodListServlet</servlet-name>
        <url-pattern>/listFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/addFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <url-pattern>/deleteFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <url-pattern>/deleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListMemberServlet</servlet-name>
        <url-pattern>/listMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFoodOrder</servlet-name>
        <url-pattern>/AddFoodOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewfoodlistmember</servlet-name>
        <url-pattern>/ViewFoodListMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeadmin</servlet-name>
        <url-pattern>/HomeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFood</servlet-name>
        <url-pattern>/UpdateFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListOrderAdminServlet</servlet-name>
        <url-pattern>/listOrderAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMemberAdmin</servlet-name>
        <url-pattern>/UpdateMemberAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderServlet</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailOrderAdminServlet</servlet-name>
        <url-pattern>/viewDetailAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListOrderMemberServlet</servlet-name>
        <url-pattern>/listOrderMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListOrderStaffServlet</servlet-name>
        <url-pattern>/listOrderStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderAdminServlet</servlet-name>
        <url-pattern>/UpdateOrderAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
